mat-form-field{
    width: 40%;
}

mat-radio-button{
    margin-right: 10px;
    margin-left: 10px;
}
.alert {
    padding: 15px;
    background-color: #93df80;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: rgb(107, 100, 100);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }