<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="250px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" style="min-height: 250px;">

        <mat-card-header
          style="background-color: #c49b43fa;padding-top: 10px;font-family: Arial, Helvetica, sans-serif;">
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <div style="margin-top: 30px;">
            <h3>No. of {{card.title}} </h3>{{card.count}}/{{totalCount}}
            <mat-progress-bar *ngIf='totalCount>0' style="padding:15px;" value="{{(card.count/totalCount)*100}}">
            </mat-progress-bar>
          </div>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>